{% extends "lfs/customer/base.html" %}
{% load i18n %}
{% load lfs_tags %}

{% block title %}
    {% trans 'My Addresses' %} - {{ block.super }}
{% endblock %}

{% block section %}my-addresses{% endblock %}

{% block breadcrumbs %}
    {% breadcrumbs _("Change your addresses") %}
{% endblock %}

{% block content %}
    <div class="page-header"><h1>{% trans 'Your addresses' %}</h1></div>

    {% if form.errors %}
        <div class="form-errors">
            {% trans "The operation could not be performed because one or more errors occurred. Please see below." %}
        </div>
    {% endif %}

    <div class="row-fluid">
	<form class="form-vertical"
    	  action="{% url lfs_my_addresses %}"
          method="post"
          invoice="{% url lfs_changed_invoice_country %}"
          shipping="{% url lfs_changed_shipping_country %}">
        {% csrf_token %}
		<div class="span6">
			<div class="portlet-header">{% trans 'Invoice Address' %}</div>
			{{ invoice_address_inline|safe }}
		
		</div>
		<div class="span6">
			<div class="portlet-header">{% trans 'Shipping Address' %}</div>
			{{ shipping_address_inline|safe }}
		</div>
    </div>  
	<div class="form-actions">
        <input class="btn btn-large btn-primary"
                           type="submit"
                           value="{% trans 'Save addresses' %}">
	</div>

    </form>
{% endblock %}
