<div id="invoice-address-inline">
	<div class="control-group">
		<label class="control-label" for="{{ field.invoice_firstname.label_id }}">{{ form.invoice_firstname.label }}*:</label>
			<div class="controls">
			{{ form.invoice_firstname.errors }}
            {{ form.invoice_firstname }}
			</div>
	</div>
	
	<div class="control-group">
		<label class="control-label" for="{{ field.invoice_lastname.label_id }}">{{ form.invoice_lastname.label }}*:</label>
			<div class="controls">
			{{ form.invoice_lastname.errors }}
                {{ form.invoice_lastname }}
			</div>
	</div>
	
	<div class="control-group">
		<label class="control-label">{{ form.invoice_company_name.label_tag }}{% if settings.LFS_INVOICE_COMPANY_NAME_REQUIRED %}*{% endif %}:</label>
			<div class="controls">
			{{ form.invoice_company_name.errors }}
                {{ form.invoice_company_name }}
			</div>
	</div>
	
	{% for field in address_form %}
	<div class="control-group">
		<label class="control-label">{{ field.label_tag }}{% if field.field.required %}*{% endif %}:</label>
			<div class="controls">
			{{ field.errors }}
                    {{ field }}
			</div>
	</div>
	{% endfor %}
	
	{% if request.user.is_anonymous %}
	<div class="control-group">
		<label class="control-label">{{ form.invoice_email.label_tag }}{% if settings.LFS_INVOICE_EMAIL_REQUIRED %}*{% endif %}:</label>
			<div class="controls">
			{{ form.invoice_email.errors }}
		                {{ form.invoice_email }}
			</div>
	</div>
	{% endif %}
	
	{% if form.invoice_phone %}
	<div class="control-group">
		<label class="control-label">{{ form.invoice_phone.label_tag }}{% if settings.LFS_INVOICE_PHONE_REQUIRED %}*{% endif %}:</label>
			<div class="controls">
			{{ form.invoice_phone.errors }}
		            {{ form.invoice_phone }}
			</div>
	</div>
	{% endif %}
</div>
