<div id="shipping-address-inline"  class="shipping-address">
	<div class="control-group">
		<label class="control-label" for="{{ field.shipping_firstname.label_id }}">{{ form.shipping_firstname.label }}*:</label>
			<div class="controls">
			{{ form.shipping_firstname.errors }}
				{{ form.shipping_firstname }}
			</div>
	</div>
	
	<div class="control-group">
		<label class="control-label" for="{{ field.shipping_lastname.label_id }}">{{ form.shipping_lastname.label }}*:</label>
			<div class="controls">
			{{ form.shipping_lastname.errors }}
                {{ form.shipping_lastname }}
			</div>
	</div>
	
	<div class="control-group">
		<label class="control-label" for="{{ field.shipping_company_name.label_id }}">{{ form.shipping_company_name.label }}{% if settings.LFS_INVOICE_COMPANY_NAME_REQUIRED %}*{% endif %}:</label>
			<div class="controls">
			{{ form.shipping_company_name.errors }}
                {{ form.shipping_company_name }}
			</div>
	</div>
	
	{% for field in address_form %}
	<div class="control-group">
		<label class="control-label" for="{{ field.label_id }}">{{ field.label }}{% if field.field.required %}*{% endif %}:</label>
			<div class="controls">
			{{ field.errors }}
			{{ field }}
			</div>
	</div>
	{% endfor %}
	
	 {% if request.user.is_anonymous %}
	<div class="control-group">
		<label class="control-label" for="{{ form.shipping_email.label_id }}">{{ form.shipping_email.label }}{% if settings.LFS_SHIPPING_EMAIL_REQUIRED %}*{% endif %}:</label>
			<div class="controls">
			{{ form.shipping_email.errors }}
			{{ form.shipping_email }}
			</div>
	</div>
	{% endif %}
	
	{% if form.shipping_phone %}
	<div class="control-group">
		<label class="control-label" for="{{ form.shipping_phone.label_id }}">{{ form.shipping_phone.label }}{% if settings.LFS_SHIPPING_PHONE_REQUIRED %}*{% endif %}:</label>
			<div class="controls">
			{{ form.shipping_phone.errors }}
			{{ form.shipping_phone }}
			</div>
	</div>
	 {% endif %}
</div>
