{% extends "front/base.html" %}
{% load i18n %}
{% load lfs_tags %}

{% block wrapper %}
	<div class="row-fluid">
		<div class="span3">
			{% block left-slot %}
				<div class="portlet-header">{% trans 'My account' %}</div>
				<ul class="nav nav-list">
					<li>
						<a href="{% url lfs_my_account %}"><i class="icon-book"></i>{% trans 'Overview' %}</a>
					</li>
					<li>
						<a href="{% url lfs_my_orders %}"><i class="icon-shopping-cart"></i>{% trans 'Your orders' %}</a>
					</li>
					<li>
						<a href="{% url lfs_my_password %}"><i class="icon-lock"></i>{% trans 'Change password' %}</a>
					</li>
					<li>
						<a href="{% url lfs_my_email %}"><i class="icon-envelope"></i>{% trans 'Change e-mail' %}</a>
					</li>
					<li>
						<a href="{% url lfs_my_addresses %}"><i class="icon-user"></i>{% trans 'Change addresses' %}</a>
					</li>
				</ul>
			{% endblock %}
		</div>
	
    <div class="span9 last">
        {% block content %}{% endblock %}
    </div>
	</div>
{% endblock %}
