{% load i18n %}
<div class="pager">
    {% if display %}
	<ul>
        {% if previous %}
            <li><a href="{% url lfs_product previous %}">&lt;&lt; {% trans 'Previous product' %}</a></li>
        {% else %}
            <li>&lt;&lt; {% trans 'Previous product' %}</li>
        {% endif %}
        <li>- {{ current }} {% trans 'of' %} {{ total }} -</li>
        {% if next %}
            <li><a href="{% url lfs_product next %}">{% trans 'Next product' %} &gt;&gt;</a></li>
        {% else %}
            <li>{% trans 'Next product' %} &gt;&gt;</li>
        {% endif %}
    </ul>
	{% endif %}
</div>
