{% load i18n %}
<div class="pagination pagination-right">
    {% if display %}
	<ul>
        {% if previous %}
            <li><a href="{% url "lfs_product" previous %}">&lt;&lt; <!--{% trans 'Previous product' %}--></a></li>
        {% else %}
            <li class="disabled"><a href="#">&lt;&lt; <!--{% trans 'Previous product' %}--></a></li>
        {% endif %}
        <li class="disabled"><a href="#">- {{ current }} {% trans 'of' %} {{ total }} -</a></li>
        {% if next %}
            <li><a href="{% url "lfs_product" next %}"><!--{% trans 'Next product' %} -->&gt;&gt;</a></li>
        {% else %}
            <li class="disabled"><a href="#"><!--{% trans 'Next product' %} -->&gt;&gt;</a></li>
        {% endif %}
    </ul>
	{% endif %}
</div>
